{% load static from staticfiles %}
<!Doctype html>
<html lang='en'>
<head>
  <meta charset="utf-8">
  <title>相册信息管理</title>
  <script type="text/javascript">
    function doDel(url){
      if(confirm("确定要删除吗？")){
        window.location=url
      }
    }
  </script>
</head>
<body>
  <center>
    {% include 'photo/base.html' %}
    <h3>浏览照片信息</h3>
      <table width='800' border='1'>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Photo</th>
            <th>Time</th>
            <th>Action</th>
        </tr>
        {% for photo in photolist %}
          <tr>
            <td>{{photo.id}}</td>
            <td>{{photo.photoName}}</td>
            <td><img src="/static/pics/{{photo.photoName}}" alt="此处该有图片" width="100px" height="100px"/></td>
            <td>{{photo.addtime | date:"Y-m-d"}}</td>
            <td>
              <a href="{% url 'editPhoto' photo.id%}">编辑</a>
              <a href="{% url 'delPhoto' photo.id%}">删除</a></td>
            </td>
          </tr>
        {% endfor %}
    </table>

    {% for i in plist %}
    {% if i == pIndex %}
        <b style="color:red">{{i}}</b>
    {% else %}
        <a href="{% url 'indexPhoto' i %}">{{i}}</a>
    {% endif %}
    {% endfor %}
  </center>
</body>
</html>
